:root {
  --clr-primary-dark-blue: hsl(233, 26%, 24%);
  --clr-primary-lime-green: hsl(136, 65%, 51%);
  --clr-primary-bright-cyan: hsl(192, 70%, 51%);

  --clr-neutral-grayish-blue: hsl(233, 8%, 62%);
  --clr-neutral-light-grayish-blue: hsl(220, 16%, 96%);
  --clr-neutral-vlight-gray: hsl(0, 0%, 98%);
  --clr-neutral-white: hsl(0, 0%, 100%);

  --font-family: "Public Sans", sans-serif;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  font-size: 1.125rem;
  font-family: var(--font-family);
}

.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* **************************************** NAVIGATIONS **************************************** */

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: var(--clr-neutral-light-grayish-blue);
  padding-block: 1.5em;
  width: 100%;

  position: sticky;
  top: 0;
  z-index: 1;
}

.logo {
  margin-left: calc(10% - 1.5rem);
  cursor: pointer;
}

.nav_menu {
  list-style: none;

  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: var(--clr-neutral-vlight-gray);
  border: 1px solid var(--clr-neutral-vlight-gray);
  border-radius: 10px;
  overflow: hidden;

  width: calc(100% - 4.4rem);
  padding: 1.5em 0.5em;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  animation: zoomIn 250ms;
}

@keyframes zoomIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nav_item {
  height: 100%;
  width: 100%;
  text-align: center;

  background: inherit;
}

.nav_item:hover,
.nav_item:focus {
  background: var(--clr-neutral-light-grayish-blue);
  font-size: 1.2rem;
}

.nav_item a {
  text-decoration: none;
  color: var(--clr-primary-dark-blue);

  display: inline-block;
  height: 100%;
  width: 100%;
  padding: 1em 0;
}

.btn-large-screen {
  display: none !important;
}

.icon-toggle {
  cursor: pointer;
  margin-right: 2.2rem;
  display: none;
}

.toggle-nav_menu {
  display: flex;
}

.toggle-button {
  display: inline-block;
}

.toggle-backdrop {
  display: block;
}

@media screen and (min-width: 64rem) {
  .nav-container {
    padding-block: 0rem;
  }

  .nav_menu {
    position: static;
    display: flex;
    flex-direction: row;
    background: transparent;
    overflow: initial;
    padding-block: 0rem;
    margin: 0;
    width: auto;
    border: none;
    transform: translateX(0);
  }

  .nav_item a {
    font-size: 1rem;
    color: var(--clr-neutral-grayish-blue);
    position: relative;
    padding-block: 2rem;
    transition: all ease-in-out 250ms;
  }
  .nav_item a::after {
    content: "";
    opacity: 0;
    transition: all ease-in-out 250ms;
  }
  .nav_item a:hover,
  .nav_item a:focus {
    color: var(--clr-primary-dark-blue);
  }
  .nav_item a:hover::after {
    opacity: 1;
    position: absolute;
    top: calc(100% - 5px);
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(
      to left,
      var(--clr-primary-bright-cyan),
      var(--clr-primary-lime-green)
    );
  }

  .nav_item + .nav_item {
    margin-left: 3vw;
  }

  .icon-toggle {
    display: none;
  }

  .btn-large-screen {
    display: inline-block !important;
    margin-right: calc(10% - 1.5rem);
  }
}

/* **************************************** HERO SECTION **************************************** */

.section-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.content {
  width: 85%;
  max-width: 28rem;
}

.img-container {
  width: 100%;
  height: 100%;
  background-image: url("../svg/bg-intro-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateY(-10%);
}

.img-container img {
  max-width: 100%;
}

h1 {
  margin: 0;
  font-weight: 300;
  color: var(--clr-primary-dark-blue);
  font-size: 3rem;
}

p {
  font-weight: 300;
  color: var(--clr-neutral-grayish-blue);
  font-size: 1rem;
  line-height: 1.6;
  margin: 1.5em auto;
}

.btn {
  display: inline-block;
  padding: 1em 2em;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
  color: var(--clr-neutral-light-grayish-blue);
}

.btn-cta {
  border-radius: 50px;
  transition: background ease-in-out 250ms;
}

.btn-cta:hover,
.btn-cta:focus {
  background: linear-gradient(
    to left,
    hsl(192, 80.2%, 47.6%),
    hsl(136.1, 77.2%, 46.5%)
  );
}

.linear-gradient-cyan-green {
  background: linear-gradient(
    to left,
    var(--clr-primary-bright-cyan),
    var(--clr-primary-lime-green)
  );
}

@media screen and (min-width: 64rem) {
  .section-hero {
    flex-direction: row;
    justify-content: space-between;
    margin-inline: 0;
    text-align: left;
    align-items: initial;
  }

  .content {
    margin-left: calc(10% - 1.5rem);
    width: calc(25% + 10vw);
    max-width: initial;
  }

  .content-hero {
    order: 1;
    margin-top: calc(15% - 1.5rem);
  }

  .img-container {
    background-image: url("../svg/bg-intro-desktop.svg");
    order: 2;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    transform: translate(15%, -25%);
    position: relative;
    top: -10%;
  }

  .img-container img {
    width: 80%;
    transform: translateY(12%);
  }
}

/* **************************************** FEATURES SECTION **************************************** */

.section-features {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 6rem;
  padding-block: 3rem;
  padding-top: 3rem;
  padding-bottom: 5rem;

  background-color: var(--clr-neutral-light-grayish-blue);
}

.features-list {
  margin-top: 4.5rem;
}

.feature-item + .feature-item {
  margin-top: 3.5rem;
}

h2 {
  color: var(--clr-primary-dark-blue);
  font-weight: 300;
  font-size: 2rem;
  width: 80%;
  margin-inline: auto;
}

h4 {
  font-weight: 300;
  color: var(--clr-primary-dark-blue);
  margin-block: 1rem;
}

h4 + p {
  margin-block: 1rem;
}

@media screen and (min-width: 64rem) {
  .section-features {
    text-align: left;
    margin-top: -6rem;
    padding-block: 6rem;
  }

  .section-features > .content {
    width: auto;
    margin-right: calc(10% - 1.5rem);
  }

  .features-list {
    display: flex;
    justify-content: space-between;
  }

  .feature-item + .feature-item {
    margin-top: 0;
    margin-left: 2rem;
  }

  h2 {
    margin-left: 0;
  }

  h2 + p {
    width: 50%;
    margin-left: 0;
  }
}

/* **************************************** NAVIGATIONS **************************************** */

.section-articles {
  background-color: var(--clr-neutral-vlight-gray);
  padding-top: 3rem;
  padding-bottom: 5rem;
  text-align: center;
}

.content-articles {
  margin-inline: auto;
}

.article {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-neutral-white);
  overflow: hidden;
  cursor: pointer;
  transition: all ease-out 250ms;
}

.article:hover,
.article:focus {
  box-shadow: 0px 5px 30px -10px rgba(0, 0, 0, 0.1);
  transform: translateY(-0.5%);
}

.article + .article {
  margin-top: 2rem;
}

.article-img img {
  max-width: 100%;
}

.article-description {
  padding: 1rem 2rem;
}

h5 {
  font-size: 0.7rem;
  color: var(--clr-neutral-grayish-blue);
  font-weight: 400;
}

.article-title {
  color: var(--clr-primary-dark-blue);
}

.article-text {
  font-weight: 400;
  font-size: 0.9rem;
}

@media screen and (min-width: 64rem) {
  .section-articles {
    text-align: left;
    padding-block: 6rem;
  }

  h2 {
    margin-block: 0 1.5rem;
  }

  .articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .section-articles > .content {
    width: auto;
    margin-inline: calc(10% - 1.5rem);
  }

  .article {
    flex: 1 0 20%;
    margin-right: 2rem;
  }

  .article + .article {
    margin-top: 0;
  }

  .article-img {
  }

  .article-img img {
    width: 100%;
    height: 15.625rem;
    object-fit: cover;
    object-position: 50% 50%;
  }
}

@media screen and (max-width: 90rem) {
  .article {
    flex: 1 0 40%;
    margin-bottom: 2rem;
  }
}
